a {
    color: #404040 !important;
    text-decoration: none !important;
    background-color: none !important;
}

card img {
    border: 2px solid #333333;
}

img {
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

.contacts {
    text-align: center;
}

.banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}

.rounded {
    border-radius: 10px !important;
}

.barTitle {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 26px;
    margin-top: 30px;
}

.programmation-title {
    text-align: left;
    font-family: 'Freestyle Script';
    font-size: 24px;
    margin-top: 10px;
    color: #ee9f2b;
    margin-left: 20%;
}

.tooltiptext {
    text-shadow: -1px 0 #0d3300, 0 1px #0d3300, 1px 0 #0d3300, 0 -1px #0d3300;
    display: -webkit-inline-box;
    padding-bottom: 5px;
}

.mainContent {
    visibility: hidden;
}

.divPlayer {
    display: flex;
    margin-top: 10px;
}

.popUpPlayer {
    position: relative;
    left: 81%;
    bottom: 57px;
    width: 10px;
}

table {
    width: 100%;
}

tr {
    height: 50px;
    border-radius: 10px;
    transition: height 3s;
}

    tr:hover {
        height: 300px;
        transition: height 3s;
    }

td {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 24px;
    height: 50px;
}

.hvr-bounce-in {
    margin-bottom: 10px;
}

.blues {
    width: 20%;
    background-image: url(../content/blues.png);
    filter: grayscale(100%);
}

.jazz {
    width: 20%;
    background-image: url(../content/jazz.jpg);
    filter: grayscale(100%);
    background-position: bottom right;
}

.rock {
    width: 20%;
    background-image: url(../content/rock.png);
    filter: grayscale(100%);
    background-position: center;
}

.randb {
    width: 20%;
    background-image: url(../content/r&b.jpg);
    filter: grayscale(100%);
    background-position: bottom;
}

.chill {
    width: 20%;
    background-image: url(../content/chill.png);
    filter: grayscale(100%);
    background-position: center;
}

.row {
    height: 350px;
    padding-top: 10px;
}

.head {
    height: auto !important;
    padding-top: 25px;
}

.onAir {
    height: 50px;
    top: 10px;
    position: relative;
    z-index: 1;
}

.player {
    background-color: black;
    border-radius: 10px;
    margin-top: 25px;
}

.column {
    float: left;
    padding-bottom: 50px;
}

.bottom-claim {
    padding-bottom: 100px;
    color: grey;
    text-align: right;
    font-size: 12px;
}

.left {
    padding-left: 15px;
    padding-right: 30px;
    margin-right: 5%;
}

.right {
    padding-left: 30px;
    padding-right: 15px;
    margin-left: 5%;
}

.carousel {
    width: 100% !important;
}

.inner-player {
    height: 100%;
    width: 100%;
}

.left, .right {
    width: 15%;
}

.middle {
    width: 60%;
    margin: auto;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.first-program {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-program {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.marked {
    filter: none !important;
}

.markedText {
    color: #f25c54;
    text-shadow: 2px 2px 5px khaki;
}

.move-top {
    bottom: 50px;
}

/*tr > span::after {
    z-index: 2 !important;*/
    /*top: 200px !important;*/
    /*left: 18% !important;*/
    /*border-radius: 10px 10px 10px 10px !important;
    height: 300px !important;
    width: 225px !important;
    transition: 2s;
}*/
