@media only screen and (max-width: 1200px) {
    .left {
        padding-right: 0px !important;
        transition: 0.5s;
    }

    .right {
        padding-left: 0px !important;
        transition: 0.5s;
    }

    .popUpPlayer {
        left: 77% !important;
    }

    .onAir {
        height: 45px !important;
        transition: 0.5s;
    }

    .info {
        padding-bottom: 70px !important;
    }
}

@media only screen and (max-width: 991px) {

    .left, .right {
        width: 20%;
        transition: 0.5s;
    }

    .middle {
        width: 50%;
        transition: 0.5s;
    }

    .container, .container-sm, .container-md {
        max-width: 860px !important;
    }

    .column {
        padding-bottom: unset !important;
        transition: 0.5s;
    }

    .popUpPlayer {
        left: 75% !important;
        transition: 0.5s;
    }

    .onAir {
        height: 40px !important;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 900px) {
    tr:hover {
        height: 200px !important;
    }

    .mainContent {
        padding-right: 10px;
        padding-left: 10px;
    }

    .column.left {
        display: none;
        transition: 0.5s;
    }

    .column.right {
        padding-right: 15px !important;
    }

    .middle {
        padding-left: 15px;
        padding-right: 10px;
        width: 80% !important;
        transition: 0.5s;
    }

    .card-img-top {
        height: 120px !important;
        object-fit: cover;
        object-position: 50% 0%;
        transition: 0.5s;
    }

    .card-body {
        height: 50px !important;
        padding: 0.5rem;
    }

    .move-top {
        bottom: unset !important;
    }

    .carousel {
        padding-right: unset;
        padding-left: unset;
        transition: 0.5s;
    }

    .column {
        padding-bottom: 25px !important;
        transition: 0.5s;
    }

    .popUpPlayer {
        left: 79% !important;
        transition: 0.5s;
    }

    .rightA {
        height: 170px;
    }

    .second-row {
        padding-top: unset !important;
        height: unset !important;
    }

    .hidden {
        display: block !important;
        padding-top: 5px;
    }

    .onAir {
        height: 35px !important;
        transition: 0.5s;
    }

    .short-banner {
        display: block !important;
    }

    #long-banner {
        display: none !important;
    }
}

@media only screen and (max-width: 800px) {
    .popUpPlayer {
        left: 77% !important;
        transition: 0.5s;
    }

    .onAir {
        height: 30px !important;
        transition: 0.5s;
    }

    .popUpPlayer > a > p > svg {
        width: 2.2rem !important;
        height: 2.2rem !important;
        transition: 0.5s;
    }

    .info {
        text-align: center !important;
    }
}

@media only screen and (max-width: 700px) {
    .popUpPlayer {
        left: 73% !important;
        bottom: 58px;
        transition: 0.5s;
    }

        .popUpPlayer > a > p > svg {
            width: 2.4rem !important;
            height: 2.4rem !important;
            transition: 0.5s;
        }
}

@media only screen and (max-width: 600px) {
    tr:hover {
        height: 175px !important;
    }

    .utilities {
        display: none !important;
    }

    .socials {
        display: block !important;
        margin-left: 40px;
    }

    .popUpPlayer {
        left: 78% !important;
        bottom: 45px !important;
        transition: 0.5s;
    }

    .popUpPlayer > a > p > svg {
        width: 1.8rem !important;
        height: 1.8rem !important;
        transition: 0.5s;
    }

    .card-img-top {
        height: 100px !important;
    }

    .card-body {
        height: 40px !important;
    }

    .rightA {
        height: 140px;
    }

    .card {
        width: 100px !important;
    }

    .body-center {
        margin-bottom: 30px;
    }

    .right .row {
        height: auto !important;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        padding-bottom: 20px;
    }

    .column.right {
        display: none;
    }

    .middle {
        width: 100% !important;
        transition: 0.5s;
    }

    .popUpPlayer {
        left: 78% !important;
        transition: 0.5s;
    }

    .hidden-cards {
        display: inline-block !important;
    }

    .body-center {
        padding-right: 5px;
    }

    .card-deck {
        display: flex;
        padding: 5% !important;
    }

    .card {
        width: 90% !important;
    }

    .carousel {
        padding-bottom: unset !important;
    }
}

@media only screen and (max-width: 550px) {
    tr:hover {
        height: 150px !important;
    }

    .popUpPlayer {
        left: 75% !important;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 510px) {
    tr:hover {
        height: 125px !important;
    }
}

a {
    color: #404040 !important;
    text-decoration: none !important;
    background-color: none !important;
}

card img {
    border: 2px solid #333333;
}

img {
    border-radius: 10px;
}

.socials {
    display: inline-block;
}

.utilities {
    display: inline-block;
}

.card {
    border-radius: 10px;
}

.contacts {
    text-align: center;
}

.banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    min-height: 90px;
    object-fit: cover;
    border-radius: unset !important;
}

.rounded {
    border-radius: 10px !important;
}

.barTitle {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 26px;
    margin-top: 30px;
}

.programmation-title {
    text-align: left;
    font-family: 'Freestyle Script';
    font-size: 24px;
    margin-top: 10px;
    color: #ee9f2b;
    margin-left: 20%;
}

.tooltiptext {
    text-shadow: -1px 0 #0d3300, 0 1px #0d3300, 1px 0 #0d3300, 0 -1px #0d3300;
    display: -webkit-inline-box;
    padding-bottom: 5px;
}

.mainContent {
    visibility: hidden;
}

.divPlayer {
    display: flex;
    margin-top: 10px;
}

.popUpPlayer {
    position: relative;
    left: 81%;
    bottom: 60px;
    width: 10px;
}

table {
    width: 100%;
}

tr {
    height: 50px;
    border-radius: 10px;
    transition: height 3s;
}

    tr:hover {
        height: 300px;
        transition: height 3s;
    }

td {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 24px;
    height: 50px;
}

.hvr-bounce-in {
    margin-bottom: 10px;
}

.blues {
    width: 20%;
    background-image: url(../content/first_band.png);
    filter: grayscale(100%);
    background-position: center;
}

.jazz {
    width: 20%;
    background-image: url(../content/second_band.png);
    filter: grayscale(100%);
    background-position: top center;
}

.rock {
    width: 20%;
    background-image: url(../content/rock.png);
    filter: grayscale(100%);
    background-position: center;
}

.randb {
    width: 20%;
    background-image: url(../content/r&b.jpg);
    filter: grayscale(100%);
    background-position: bottom;
}

.chill {
    width: 20%;
    background-image: url(../content/chill.png);
    filter: grayscale(100%);
    background-position: center;
}

.row {
    height: 350px;
    padding-top: 10px;
}

.head {
    height: auto !important;
    padding-top: 25px;
}

.onAir {
    height: 50px;
    top: 10px;
    position: relative;
    z-index: 1;
}

.column {
    float: left;
    padding-bottom: 50px;
}

.left {
    padding-left: 15px;
    padding-right: 30px;
    margin-right: 5%;
}

.right {
    padding-left: 30px;
    padding-right: 15px;
    margin-left: 5%;
}

.carousel {
    width: 100% !important;
}

.inner-player {
    height: 100%;
    width: 100%;
}

.body-center {
    display: inline-block;
}

.left, .right {
    width: 15%;
}

.middle {
    width: 60%;
    margin: auto;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.first-program {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-program {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.marked {
    filter: none !important;
}

.markedText {
    color: #f25c54;
    text-shadow: 2px 2px 5px khaki;
}

.hidden {
    display: none;
}

.second-row {
    padding-top: 20px;
    height: 280px;
}

.short-banner {
    display: none;
}

.hidden-cards {
    display: none;
}

.info {
    padding-bottom: 100px;
    text-align: right;
    font-size: 11px;
    color: #3d3d29;
    line-height: 0.3;
}

.carousel .slide {
    background: unset !important;
}

.legend {
    font-size: 14px;
}

.col-3 {
    padding-right: unset !important;
}

.hidden-cards .container .row {
    margin: 5px;
    height: 160px !important;
    background-color: white;
    border-radius: 15px;
}

.hidden-cards .container .row .col-3:last-child{
    padding-right: 5px;
}

/*.band-text {*/
    /*display: none;*/
    /*visibility: hidden;
    max-height: 0px;
    opacity: 0;*/
    /*-webkit-transition: opacity 5s, visibility 5s;*/
    /*transition: opacity 5s, visibility 5s;
}

.first-band {
    color: white;
}

.second-band {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

tr:hover .band-text {
    visibility: visible;
    padding: 5px;
    opacity: 1;
}*/
