a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-nav li {
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 650px) {
    .navbar-nav li {
        margin-right: 15px !important;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-nav li {
        margin-right: 10px !important;
    }
}

@media only screen and (max-width: 575px) {
    .lifearth-logo {
        height: 40px !important;
        top: 10px !important;
    }

    .container {
        padding-bottom: 10px !important;
    }

    .navbar-toggler-icon {
        margin-top: 0px !important;
    }

    .text-dark.nav-link {
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        padding-left: 30px;
    }
}

.navbar {
    background-color: #F8FDEB;
    font-family: 'Freestyle Script';
    /*color: #fba626;*/
    font-size: 32px;
}

.nav-link {
    color: #fc9802 !important;
    text-shadow: 0 0 3px white, 0 0 5px white;
}

.navbar-nav li {
    margin-right: 30px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lifearth-logo {
    height: 50px;
    position: absolute;
    top: 15px;
}
