.collaboration {
    font-size: 12px;
}

.text-container {
    padding-left: 10px;
    padding-right: 10px;
}

.andrea_bio {
    width: 50%;
    display: inline;
    float: right;
    margin: 40px 0px 30px 30px;
}

.pPad {
    padding-bottom: 1rem;
}